.todoHeading {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 6px;
    margin-right: 24%;
    margin-left: 24%;
    color: rgb(40, 188, 221);
    background-image: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(194, 74%, 56%), hsl(266, 74%, 56%), hsl(338, 74%, 56%), hsl(50, 74%, 56%), hsl(122, 74%, 56%));
    
}
